// <nav class="navigation">
//   <ul>
//     <li>
//       <a href="/index.html">
//         @
//       </a>
//     </li>
//     <li>
//       <a href="/posts.html">
//         POSTS
//       </a>
//     </li>
//     <li>
//       <a href="/work.html">
//         WORK
//       </a>
//     </li>
//     <li>
//       <a href="/about.html">
//         ABOUT
//       </a>
//     </li>
//   </ul>
// </nav>

.navigation {

  width: 89%;
  margin: 1rem auto;

  @media (min-width: 850px) {
    width: 55%;
  }


  ul {
    display: flex;

    list-style: none;
  }

  li {
    padding-right: 2rem;
    font-size: calc(16px + (21 - 16) * ((100vw - 320px) / (2000 - 320)));

  }

  a {
    font-family: 'Public Sans Semi-Bold';

    color: var(--gray-900);
    text-decoration: none;


    &:hover {
      border-bottom: 2px solid var(--gray-900);
      padding-bottom: 5px;

    }

    &:focus {
      // text-decoration: underline;

    }

    &:visited {

    }
  }

}
