.work {

  width: 100%;
  margin: 5% auto;

  @media (min-width: 850px) {
    width: 55%;
    margin: 5% auto;
  }

}


.work__header {

  width: 89%;
  margin: 0 auto;

  @media (min-width: 850px) {
    width: 100%;
    margin: 2% auto;
  }

  h2 {
    padding: 0 0 1rem 0;

    font-family: 'Public Sans Thin Italic';
    font-weight: 100;
    font-size: calc(21px + (45 - 21) * ((100vw - 320px) / (2000 - 320)));

    @media (min-width: 650px) {
      padding: 0 0 2rem 0;
    }

  }

}
