.work {
  width: 100%;
  margin: 5% auto;

  @media (min-width: 75rem) {
    width: 55%;
    margin: 5% auto;
  }
}

.work__header {

  width: 89%;
  margin: 0 auto;

  @media (min-width: 75rem) {
    width: 100%;
    margin: 2% auto;
  }

}


.work__portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-template-rows: auto;

  padding: 0rem;

  @media (min-width: 75rem) {
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

}


// <section class="work__project">
//   <a class="portfolio" href="http://www.frontendtweets.com/">
//     <header class="portfolio__header">
//       <h3>Front End Tweets</h3>
//     </header>
//     <section class="portfolio__body">
//       <section class="portfolio__picture">
//         <img src="{{site.baseurl}}assets/front-end-tweets/front-end-tweets-portfolio.png" alt="Front End Tweets"></img>
//       </section>
//       <section class="portfolio__description">
//         <p>
//           A timeline of tweets from popular front enders on CSS, JS and UX.
//         </p>
//       </section>
//     </section>
//   </a>
// </section>

.work__project {
  margin: 4.2% 0;
  // min-height: 20rem;

  @media (min-width: 75rem) {
    margin: 10% 0;
  }

  .portfolio {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  .portfolio:hover .portfolio__description {
    transform: translate3d(0,0,0);
    opacity: .9;
  }

  .portfolio__header {
    width: 89%;
    margin: 0 auto;

    @media (min-width: 75rem) {
      width: 100%;
      margin: 2% auto;
    }

    h3 {
      font-weight: 600;
      font-style: normal;
      font-size: calc(23px + (35 - 23) * ((100vw - 320px) / (2000 - 320)));

      @media (min-width: 75rem) {
        font-weight: 600;
        font-style: normal;
        font-size: calc(21px + (35 - 21) * ((100vw - 320px) / (2000 - 320)));
      }
    }
  }

  .portfolio__body {
    display: grid;
    grid-template-rows: .1fr 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;

    @media(min-width: 75rem) {
      grid-template-rows: auto;
    }
  }

  .portfolio__picture {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    width: 100%;
    height: 100%;

    z-index: 10;
    transform: translate3d(0,0,0);

    @media(min-width: 75rem) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    img {
      max-width: 100%;
      height: auto;

      padding: 3% 0 2% 0;

      @media (min-width: 850px) {
        padding: 3% 0;
      }
    }
  }

  .portfolio__description {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    width: 100%;
    height: 100%;

    z-index: 100;
    opacity:1;

    background-color: white;

    text-align: left;


      @media(min-width: 75rem) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        display: flex;
        justify-content: center;
        align-items: center;

        opacity:0;
      }

    p {
      width: 89%;
      margin: 0 auto;
      padding: 2% 0;

      text-align: left;
      font-weight: 400;
      font-style: italic;
      font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (2000 - 320)));

      opacity: 1;

      @media (min-width: 75rem) {
        width: 100%;
        margin: 2% auto;
        padding: 7%;
        text-align: center;
        font-weight: 500;
        font-style: normal;
        font-size: calc(22px + (32 - 22) * ((100vw - 320px) / (2000 - 320)));
        text-transform: capitalize;
        opacity: 0;
      }
    }
  }
}

@keyframes portfolio-slide {

  0% {
    transform: translate3d(0,100%,0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}
