:root {
  --gray-900: hsl(210, 0%, 0%);
  --gray-800: hsl(210, 0%, 25%);
  --gray-700: hsl(210, 0%, 50%);
  --gray-600: hsl(0, 0%, 28%);
  --gray-500: hsl(0, 0%, 28%);
  --gray-400: hsl(0, 0%, 28%);
  --gray-300: hsl(0, 0%, 28%);
  --gray-200: hsl(0, 0%, 28%);
  --gray-100: hsl(0, 0%, 28%);
}
