// Text

body {

  --primary-header: hsl(0,0,13%);
  --secondary-header: hsl(0, 0%, 20%);
  --primary-text: hsl(0, 0%, 30%);
  --secondary-text: hsl(0, 0%, 43%);

}


body {
  --gray-900: hsl(210, 0%, 0%);
  --gray-800: hsl(210, 0%, 25%);
  --gray-700: hsl(210, 0%, 50%);
  --gray-600: hsl(0, 0%, 28%);
  --gray-500: hsl(0, 0%, 28%);
  --gray-400: hsl(0, 0%, 28%);
  --gray-300: hsl(0, 0%, 28%);
  --gray-200: hsl(0, 0%, 28%);
  --gray-100: hsl(0, 0%, 28%);
}
