a {
  color: var(--gray-900);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
  }

  &:focus {
    -webkit-tap-highlight-color: transparent;
  }

  &:visited {

  }
}
