.home-page {

  width: 89%;
  margin: 5% auto;

  @media (min-width: 650px) {
    width: 55%;
    margin: 7% auto;
  }


  p {
    padding: 3.5% 0;

    // font-family: var(--extra-light);
    // // font-family: var(--thin-italic);
    // font-family: "Public Sans";
    font-weight: 200;

    font-size: calc(24px + (65 - 24) * ((100vw - 320px) / (2000 - 320)));

  }

  a {
    // font-family: var(--regular);
    // font-family: "Public Sans";
    font-weight: 500;

    &:hover {
      text-decoration: underline;

      @media (min-width: 850px) {
        text-decoration: none;

        border-bottom: 3px solid black;
        padding-bottom: 2.5px;
      }
    }

    &:focus {

    }

    &:visited {

    }
  }

  .links-desktop {
    display: none;

    @media (min-width: 650px) {
      display: flex;
      flex-direction: row;
    }

  }

  .links-mobile {
    display: flex;
    flex-direction: column;

    @media (min-width: 650px) {
      display: none;
    }

    a {
      padding: 0 0 .25rem 0;
    }

  }
}
