.posts {

  width: 100%;
  margin: 5% auto;

  @media (min-width: 850px) {
    width: 55%;
    margin: 5% auto;
  }

}

.posts__header {

  width: 89%;
  margin: 0 auto;

  @media (min-width: 850px) {
    width: 100%;
    margin: 2% auto;
  }

  h2 {
    padding: 0 0 1rem 0;

    font-weight: 100;
    font-style: italic;
    font-size: calc(21px + (45 - 21) * ((100vw - 320px) / (2000 - 320)));

    @media (min-width: 650px) {
      padding: 0 0 2rem 0;
    }

  }
}

.posts__link {

  display: inline-block;
  height: 100%;

  width: 100%;

  margin: 2% 0;

  background: #F7F7F7;
  border-left: 5px solid #D9D9D9;

  text-decoration: none;

  transition: background-color .425s ease-in, border-left .425s ease-in;

  @media (min-width: 650px) {
    height: 100%;
  }


  &:hover {
    background: #E0E0E0;

    border-left: 5px solid #000000;
    text-decoration: none;
  }
}

.posts__link-content {
  padding: 1rem 1rem;

  @media (min-width: 650px) {
    padding: 1rem 2rem;
  }


  h3 {
    font-weight: 600;
    font-style: italic;
    font-size: calc(24px + (65 - 24) * ((100vw - 320px) / (2000 - 320)));
    line-height: calc(24px + (60 - 24) * ((100vw - 320px) / (2000 - 320)));
  }

  p {
    padding: .5% 0 3% 0;

    font-weight: 100;
    font-size: calc(18px + (25 - 18) * ((100vw - 320px) / (2000 - 320)));

    @media (min-width: 650px) {

    }
  }

  time {
    font-style: italic;

    @media (min-width: 650px) {
      padding: 0 0 1rem 0;
    }
  }
}
