.about {
  width: 100%;
  margin: 5% auto;

  @media (min-width: 850px) {
    width: 55%;
    margin: 5% auto;
  }
}

.about__header {

  width: 89%;
  margin: 0 auto;

  @media (min-width: 850px) {
    width: 100%;
    margin: 2% auto;
  }

  h2 {
    padding: 0 0 1rem 0;

    font-weight: 100;
    font-style: italic;
    font-size: calc(21px + (45 - 21) * ((100vw - 320px) / (2000 - 320)));

    @media (min-width: 650px) {
      padding: 0 0 2rem 0;
    }

  }
}

.about__resume {

  max-width: 89%;
  margin: 1% auto;

  @media (min-width: 850px) {
    max-width: 100%;
    margin: 1% auto;

    padding: 0rem;
  }

  header {
    font-weight: 300;
    font-style: italic;
    font-size: calc(21px + (55 - 21) * ((100vw - 320px) / (2000 - 320)));


    p {
      word-spacing: -.35rem;
    }
  }

  h3 {
    font-weight: 600;
    font-style: italic;
    font-size: calc(21px + (55 - 21) * ((100vw - 320px) / (2000 - 320)));
  }

  .links-desktop {
    display: flex;

    font-weight: 100;
    padding: 2% 0;

    @media (min-width: 650px) {
      display: flex;
      flex-direction: row;
    }

    a {
      font-weight: 100;
      font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (2000 - 320)));

      padding-right: 1rem;

      &:hover {
        font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (2000 - 320)));
      }
    }

    img {
      width: 2rem;
      height: auto;

      @media (min-width: 650px) {
        width: 2.5rem;
      }

    }
  }
}

.about__resume-section {

  margin: 5% 0;

  p {
    max-width: 100%;
    padding: 2% 0;

    @media (min-width: 850px) {
      max-width: 55ch;
      padding: 2% 0;
    }

    font-weight: 100;
    font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (2000 - 320)));
    line-height: calc(20px + (38 - 20) * ((100vw - 320px) / (2000 - 320)));

  }

  h4 {
    padding: 4% 0 0 0;

    font-weight: 700;
    font-style: italic;
    font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (2000 - 320)));
  }

  h5 {
    font-weight: 600;
    font-style: italic;
    font-size: calc(21px + (55 - 21) * ((100vw - 320px) / (2000 - 320)));
  }

  h6 {
    font-weight: 300;
    font-style: italic;
    font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (2000 - 320)));

    span {
      font-weight: 100;
      font-style: italic;
    }
  }

  time {
    font-weight: 100;
    font-style: italic;
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (2000 - 320)));
  }

  ul {
    margin: 4% 0;
    list-style-position: outside;
    list-style: none;

    li {
      margin: 4% 0;
      padding: 0;
    }

    h4 {
      margin: 0;
      padding: 0;

      font-weight: 400;
      font-style: normal;
    }
  }
}
