.about {
  width: 100%;
  margin: 5% auto;

  @media (min-width: 850px) {
    width: 55%;
    margin: 5% auto;
  }
}

.about__header {

  width: 89%;
  margin: 0 auto;

  @media (min-width: 850px) {
    width: 100%;
    margin: 2% auto;
  }

  h2 {
    padding: 0 0 1rem 0;

    font-family: 'Public Sans Thin Italic';
    font-weight: 100;
    font-size: calc(21px + (45 - 21) * ((100vw - 320px) / (2000 - 320)));

    @media (min-width: 650px) {
      padding: 0 0 2rem 0;
    }

  }
}

.about__resume {

  max-width: 89%;
  margin: 1% auto;

  @media (min-width: 850px) {
    max-width: 100%;
    margin: 1% auto;

    padding: 0rem;
  }

  header {
    font-family: 'Public Sans Light Italic';
    font-size: calc(21px + (55 - 21) * ((100vw - 320px) / (2000 - 320)));
  }

  h3 {
    font-family: 'Public Sans Bold Italic';
    font-size: calc(21px + (55 - 21) * ((100vw - 320px) / (2000 - 320)));
  }

  p {

  }
}

.about__resume-section {

  margin: 5% 0;

  p {
    max-width: 100%;
    // max-width: 100ch;
    padding: 2% 0;

    @media (min-width: 850px) {
      max-width: 55ch;
      // max-width: 100%;
      padding: 2% 0;
    }

    font-family: 'Public Sans Thin';
    font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (2000 - 320)));
    line-height: calc(20px + (38 - 20) * ((100vw - 320px) / (2000 - 320)));

  }

  h4 {
    padding: 4% 0 0 0;
    font-family: 'Public Sans Semi Bold Italic';
    font-size: calc(18px + (35 - 18) * ((100vw - 320px) / (2000 - 320)));
  }

  h5 {
    font-family: 'Public Sans Bold Italic';
    font-size: calc(21px + (55 - 21) * ((100vw - 320px) / (2000 - 320)));
  }

  h6 {
    font-family: 'Public Sans Light Italic';
    font-size: calc(18px + (40 - 18) * ((100vw - 320px) / (2000 - 320)));

    span {
      font-family: 'Public Sans Thin Italic';
    }
  }

  time {
    font-family: 'Public Sans Thin Italic';
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (2000 - 320)));
  }

  ul {
    margin: 4% 0;
    list-style-position: outside;
    list-style: none;

    li {
      margin: 4% 0;
      padding: 0;
    }

    h4 {
      margin: 0;
      padding: 0;

      font-family: 'Public Sans Thin Italic';
    }
  }
}
